[submodule "vim/pack/start/auto-pairs"]
	path = vim/pack/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
